[Unit]
Description=CSYE 6225 webapp
After=multi-user.target

[Service]
ExecStart=/home/ec2-user/.nvm/versions/node/v16.19.1/bin/node /home/ec2-user/webapp/server.js
Environment=PORT=1700
Environment=MYSQL_USERNAME=root
Environment=MYSQL_DATABASE=assignment4
Environment=MYSQL_ROOT_PASSWORD=Harshila@123
Environment=MYSQL_HOST=localhost
Type=simple
User=ec2-user
Restart=always
RestartSec=10
StartLimitInterval=0
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225-webapp

[Install]
WantedBy=multi-user.target
