[Unit]
Description= Webapp
After=network.target

[Service]
Environment=PORT=4005
Environment=DATABASEHOST=localhost
Environment=DATABASEUSER=root
Environment=DATABASEPASSWORD=password
Environment=DATABASE=cloud2
ExecStart=/usr/bin/node /home/ec2-user/webapp/app.js
Restart=always
User=ec2-user

[Install]
WantedBy=multi-user.target
